.gallery-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gallery {
    max-width: 1190px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 16px;
    margin: 26px auto 92px;
    align-items: center; 
}

.gallery__header {
    text-align: center;
    grid-column: span 4;
}

.gallery__item {
    width: 100%;
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .gallery__header {
        grid-column: span 2;
    }
}

@media (max-width: 545px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery__header {
        grid-column: span 1;
    }
}

